/* Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #ecfdf5;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #059669;
  border-radius: 9999px;
  transition: background-color 0.2s ease-out;
}

.scrollbar-thumb-emerald-600::-webkit-scrollbar-thumb {
  background-color: #059669;
}

.scrollbar-thumb-emerald-600::-webkit-scrollbar-thumb:hover {
  background-color: #047857;
}

.scrollbar-track-emerald-50::-webkit-scrollbar-track {
  background-color: #ecfdf5;
}